*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #070738;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.carousel{
    position: relative;
    width: 80%;
    height: 500px;
    display: flex;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: rgb(255, 254, 254) -2px 0px 26px 7px;
}
.carousel-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    /* transform: translateX(-200%); */
}
.slide,
.slide image{
    width: 100%;
    height: 100%;
}
.carousel-btn{
    position: absolute;
    z-index: 5000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-btn{
    width: 250px;
    font-size: 5rem;
    background-color: transparent;
    color: #ffff;
    border: transparent;
    outline: none;
    height: 100%;
    cursor: pointer;
}
.c-btn:nth-child(1){
    border-top-right-radius: 250px;
    border-bottom-right-radius:250px;
}
.c-btn:nth-child(2){
    border-top-left-radius: 250px;
    border-bottom-left-radius:250px;
}
.c-btn:hover{
    background-color: #0000001c;
    transition: .5s ease;
}
.carousel-i-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 10px;
    bottom: 20px;
    z-index: 5000;
}

.indicator{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    transition: background 0.3 ease;
}
.indicator.active {
    background: white;
}