*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 3rem;
}
table{
    border-spacing: 0px;
    border: 2px solid #8a8a8a;
    
}

tr td{
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
    
}
thead tr{
    border-bottom: 2px solid #8a8a8a;
}
tbody tr:nth-child(5) td{
    border-bottom: none;
}
tr td:nth-child(4){
    border-right: none;
}
tr td:nth-child(1){
    border-left: none;
}

th,td{
    font-size: 1.2rem;
    padding: .8rem;
}

thead tr{
    background: teal;
    border: 1px solid red;
    text-align: center;
}
tbody tr:nth-child(even){
    background: teal;
}