*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    color: #ffff;
}
header,footer{
    height: 15%;
    width: 100%;
    padding: 1rem;
    background-color: #2f2fff;
}
main{
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    height: 90%;
    width: 15%;
    padding: 1rem;
    background-color: #2f2fff;
}

section{
    height: 90%;
    width: 83%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

article{
    background-color: #2f2fff;
    height: 20%;
    padding: 1rem;
}
.ads{
    background-color: #2f2fff;
    height: 75%;
    padding: 1rem;
}